# Data, build, binary directories
data
build
bin

# Swap files
*.swp
*.swo
*~
#*#

# Glog log files
*.log*
*.INFO

# OSX dir files
.DS_store

# Compiled object files
*.slo
*.lo
*.o

# Compiled dynamic and static libraries
*.so
*.dylib
*.la
*.a

# Documentation files. Everything except cmakelists, the doxygen config, and the
# publishing script.
documentation/
!documentation/CMakeLists.txt
!documentation/publish_documentation.sh
!documentation/.Doxyfile
